/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--main-font), sans-serif;
  background-color: var(--theme-background);
  background-image: repeating-linear-gradient(
      to left,
      var(--vertical-gradient-color),
      transparent,
      var(--vertical-gradient-color),
      transparent,
      var(--vertical-gradient-color) 2px
  ),
  repeating-linear-gradient(
      to top,
      var(--horizontal-gradient-color-one),
      var(--horizontal-gradient-color-two),
      var(--horizontal-gradient-color-one),
      var(--horizontal-gradient-color-two),
      var(--horizontal-gradient-color-one) 2px
  ),
  var(--theme-background-image);
  background-attachment: fixed;
  background-size: cover;

}

.content-section {
  display: flex;
  max-width: 696px;
  background-color: var(--theme-background);
  margin: 0 auto;

}

.header {
  margin-block-start: 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-block-end: 107px;
}

.header-title {
  color: var(--accent-color);
  font-family: 'Press Start 2P', sans-serif;
  font-size: clamp(4.0625rem, 4.9868rem + -3.9437vw, 1.4375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 136px;
}

.header-content {
  color: var(--accent-color);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 20px;
}

.header__theme-menu {
  margin-top: 25px;
  margin-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  color: var(--accent-color);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  padding: 0.2em 0;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.theme-menu__item .theme-menu__button::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: left;
}

.theme-menu__item .theme-menu__button:focus-visible::after {
  transform: scale(1);
}

.theme-menu__button:disabled,
.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.button__focus-visible-animation {
  transition: 0.5s;
  transform: translateX(100%);
}

.theme-menu__button:focus-visible .button__focus-visible-animation {
  transform: translateX(0);
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: pointer-move 500ms ease-in-out infinite;
}

@keyframes pointer-move {
  from {
    margin-left: -28px;
  }
  to {
    margin-left: -24px;
  }
}

.article-title {
  color: var(--accent-color);
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.article-content {
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 25px;
}

.article-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
}

.article-text {
  color: var(--accent-color);
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.card__like-button {
  padding: 12.5px 37px;
}

.common__button {
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  position: relative;
  z-index: 0;
}

.common__button:hover .button__text {
  position: relative;
  z-index: 10;
  color: var(--theme-background);
  background-blend-mode: difference;
  transition: color 500ms ease;
}

.common__button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.common__button::after {
  content: "";
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 300ms, transform 300ms ease-in-out;
  z-index: 1;
}

.common__button::after {
  opacity: 1;
  transform: scaleX(0);
  transform-origin: left;
}

.common__button:hover:after {
  transform: scaleX(1);
}

.card__icon-button {
  max-width: 27px;
  max-height: 24px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block-start: 54px;
  padding-block-end: 105px;
}

.button__save {
  display: flex;
  align-items: center;
  max-width: 335px;
  max-height: 51px;
  gap: 8px;
  padding: 1.16rem 1rem 1.16rem 1.19rem;

}

.floppy_icon {
  position: relative;
  z-index: 15;
  width: 21px;
  height: 21px;
}

.common__button:hover .floppy_icon {
  --floppy-color: var(--theme-background);
}

.article__image-label-wrapper {
  position: absolute;
  z-index: 2;
  width: inherit;
  max-width: 669px;
  display: flex;
  justify-content: end;
  padding-block-start: 1.56rem;
  padding-right: 1.56rem;
}

.article__image-label {
  color: var(--accent-color);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--theme-background);
}

.article__image {
  width: 100%;
}

.article__image-content {
  position: relative;
  z-index: 1;
}