/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--main-font), sans-serif;
  background-color: var(--theme-background);
  background-image: repeating-linear-gradient(
      to left,
      var(--vertical-gradient-color),
      transparent,
      var(--vertical-gradient-color),
      transparent,
      var(--vertical-gradient-color) 2px
  ),
  repeating-linear-gradient(
      to top,
      var(--horizontal-gradient-color-one),
      var(--horizontal-gradient-color-two),
      var(--horizontal-gradient-color-one),
      var(--horizontal-gradient-color-two),
      var(--horizontal-gradient-color-one) 2px
  ),
  var(--theme-background-image);
  background-attachment: fixed;
  background-size: cover;

}

.content-section {
  display: flex;
  max-width: 696px;
  background-color: var(--theme-background);
  margin: 0 auto;

}

.header {
  margin-block-start: 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-block-end: 107px;
}

.header-title {
  color: var(--accent-color);
  font-family: 'Press Start 2P', sans-serif;
  font-size: clamp(4.0625rem, 4.9868rem + -3.9437vw, 1.4375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 136px;
}

.header-content {
  color: var(--accent-color);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 20px;
}

.header__theme-menu {
  margin-top: 25px;
  margin-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  color: var(--accent-color);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__button:disabled,
.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  margin-left: -28px;
}

.article-title {
  color: var(--accent-color);
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.article-content {
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 25px;
}

.article-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
}

.article-text {
  color: var(--accent-color);
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.card__like-button {
  padding: 12.5px 37px;
}

.common__button {
  outline: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}
.card__icon-button {
  max-width: 27px;
  max-height: 24px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block-start: 54px;
  padding-block-end: 105px;
}

.button__save {
  display: flex;
  align-items: center;
  max-width: 335px;
  max-height: 51px;
  gap: 8px;
  padding: 1.16rem 1.31rem 1.16rem 1.19rem;

}

.floppy_icon {
  width: 21px;
  height: 21px;
}

.article__image-label  {
  position: relative;
  z-index: 2;
  color: var(--accent-color);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.article__image {

}

.article__image-content {
  position: absolute;
  z-index: 1;
}